<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Cadastrar Mãe</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="maeForm" (ngSubmit)="salvar()">
      <ion-card>
        <!-- <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item> -->

        <ion-item>
          <ion-label position="floating">Cartão SUS:</ion-label>
          <ion-input formControlName="cartao_sus"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefone:</ion-label>
          <ion-input formControlName="telefone" maxlength="15" [brmasker]="{phone: true}"></ion-input>
        </ion-item>

         <!-- <ion-item>
          <ion-label position="floating">Telefone Apoio:</ion-label>
          <ion-input formControlName="telefone_contato" maxlength="15" [brmasker]="{phone: true}"></ion-input>
        </ion-item> -->
        
        <ion-item>
          <ion-label>Moradia:</ion-label>
          <ion-select formControlName="id_moradia" placeholder="Selecione">
            <ion-select-option *ngFor="let moradia of servico.moradias" [value]="moradia.id">{{ moradia.descricao }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" color="primary" type="submit" [disabled]="maeForm.invalid">
          Próximo
        </ion-button>
      </ion-card>
    </form>
  </ion-content>
    