<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!servico.salvando">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Mãe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="servico.salvando" class="ion-text-center ion-padding-top">
    <ion-col size="12"><ion-spinner name="lines"></ion-spinner></ion-col>
    <ion-col size="12">Salvando informações...</ion-col>
  </ion-row>

  <form [formGroup]="maeForm" (ngSubmit)="salvar()" *ngIf="!servico.salvando">
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Trabalha Fora: </ion-label>
        <ion-select interface="popover" formControlName="trabalha_fora" placeholder="Selecione">
          <ion-select-option *ngFor="let tipo of servico.listaTrabalhaFora" [value]="tipo.id">{{ tipo.descricao }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Profissão:</ion-label>
        <ion-input formControlName="profissao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" position="floating">Quando Retorna ao Trabalho:</ion-label>
        <ion-input formControlName="quando_retorna_trabalho"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Renda Mensal Familiar:</ion-label>
        <ion-select formControlName="id_tipo_renda_mensal" placeholder="Selecione">
          <ion-select-option *ngFor="let renda of servico.rendaFamiliar" [value]="renda.id">{{ renda.descricao }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de Moradores da Casa:</ion-label>
        <ion-input formControlName="renda_quantidade_moradores"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Estado Civil: </ion-label>
        <ion-select interface="popover" formControlName="id_estado_civil" placeholder="Selecione">
          <ion-select-option *ngFor="let tipo of servico.listaEstadoCivil" [value]="tipo.id">{{ tipo.descricao }}</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item>
          <ion-label position="stacked">Imagem: </ion-label>
          <ion-input name="imagem" (change)="selecionarImagem($event)" type="file"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="floating">Observação:</ion-label>
        <ion-textarea rows="3" formControlName="obs"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="success" type="submit" [disabled]="maeForm.invalid">
        <ion-icon name="checkmark"></ion-icon>
        Salvar
      </ion-button>
    </ion-card>
  </form>
</ion-content>
