<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Gestação</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="acompanhamentoForm" (ngSubmit)="salvar()">
      <ion-card>
        <ion-item>
          <ion-label position="stacked">Data Acompanhamento:</ion-label>
          <ion-input type="date" formControlName="dt_acompanhamento"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Funcionamento intestinal(Vezes por semana):</ion-label>
            <ion-input formControlName="nro_evacua_semana"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Funcionamento intestinal observações:</ion-label>
            <ion-textarea rows="1" formControlName="nro_evacua_semana_obs"></ion-textarea>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Tipo de Intercorrências Gestação:</ion-label>
          <ion-select [(ngModel)]="tipoIntercorrencias" [ngModelOptions]="{standalone: true}" (ionChange)="escolherTipoIntercorrencias()" multiple="true" placeholder="Selecione">
            <ion-select-option *ngFor="let tipo of servico.listaIntercorrenciaGestacao" [value]="tipo.id">{{ tipo.descricao }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="floating"> Outras intercorrências na gestação:</ion-label>
            <ion-textarea rows="1" formControlName="intercorrencias_gestacao"></ion-textarea>
        </ion-item>
  
        <ion-button expand="block" color="primary" type="submit" [disabled]="acompanhamentoForm.invalid">
          Próximo
        </ion-button>
      </ion-card>
    </form>
  </ion-content>
  